<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aisino.mapper.yanshimapper.yanshiMapper">

    <select id="selectYanshidata" resultType="java.util.Map">
        select * from t_sysorderhead_initial_copy where 1=1
        <if test="GFMC != null and GFMC != ''">
            and GFMC like concat( '%',#{GFMC,jdbcType=VARCHAR},'%')
        </if>

    </select>
</mapper>
