<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aisino.mapper.initial.TPeizhiMapper" >
  <resultMap id="BaseResultMap" type="com.aisino.entity.initial.TPeizhi" >
    <id column="UUID" property="UUID" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="CREATETIME" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="UPDATETIME" jdbcType="TIMESTAMP" />
    <result column="SKR" property="SKR" jdbcType="VARCHAR" />
    <result column="FHR" property="FHR" jdbcType="VARCHAR" />
    <result column="CXJE" property="CXJE" jdbcType="DECIMAL" />
    <result column="CFYJ" property="CFYJ" jdbcType="VARCHAR" />
    <result column="TS_EMAIL" property="TS_EMAIL" jdbcType="VARCHAR" />
    <result column="TS_EMAIL_URL" property="TS_EMAIL_URL" jdbcType="VARCHAR" />
    <result column="TS_EMAIL_PASSWORD" property="TS_EMAIL_PASSWORD" jdbcType="VARCHAR" />
    <result column="TS_EMAIL_SMTP" property="TS_EMAIL_SMTP" jdbcType="VARCHAR" />
    <result column="TS_EMAIL_POP3" property="TS_EMAIL_POP3" jdbcType="VARCHAR" />
    <result column="BY1" property="BY1" jdbcType="VARCHAR" />
    <result column="BY2" property="BY2" jdbcType="VARCHAR" />
    <result column="BY3" property="BY3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    UUID, CREATETIME, UPDATETIME, SKR, FHR, CXJE, CFYJ, TS_EMAIL, TS_EMAIL_URL, TS_EMAIL_PASSWORD, 
    TS_EMAIL_SMTP, TS_EMAIL_POP3, BY1, BY2, BY3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_peizhi
    where UUID = #{UUID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_peizhi
    where UUID = #{UUID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aisino.entity.initial.TPeizhi" >
    insert into t_peizhi (UUID, CREATETIME, UPDATETIME, 
      SKR, FHR, CXJE, CFYJ, 
      TS_EMAIL, TS_EMAIL_URL, TS_EMAIL_PASSWORD, 
      TS_EMAIL_SMTP, TS_EMAIL_POP3, BY1, 
      BY2, BY3)
    values (#{UUID,jdbcType=VARCHAR}, #{CREATETIME,jdbcType=TIMESTAMP}, #{UPDATETIME,jdbcType=TIMESTAMP}, 
      #{SKR,jdbcType=VARCHAR}, #{FHR,jdbcType=VARCHAR}, #{CXJE,jdbcType=DECIMAL}, #{CFYJ,jdbcType=VARCHAR}, 
      #{TS_EMAIL,jdbcType=VARCHAR}, #{TS_EMAIL_URL,jdbcType=VARCHAR}, #{TS_EMAIL_PASSWORD,jdbcType=VARCHAR}, 
      #{TS_EMAIL_SMTP,jdbcType=VARCHAR}, #{TS_EMAIL_POP3,jdbcType=VARCHAR}, #{BY1,jdbcType=VARCHAR}, 
      #{BY2,jdbcType=VARCHAR}, #{BY3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aisino.entity.initial.TPeizhi" >
    insert into t_peizhi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="UUID != null" >
        UUID,
      </if>
      <if test="CREATETIME != null" >
        CREATETIME,
      </if>
      <if test="UPDATETIME != null" >
        UPDATETIME,
      </if>
      <if test="SKR != null" >
        SKR,
      </if>
      <if test="FHR != null" >
        FHR,
      </if>
      <if test="CXJE != null" >
        CXJE,
      </if>
      <if test="CFYJ != null" >
        CFYJ,
      </if>
      <if test="TS_EMAIL != null" >
        TS_EMAIL,
      </if>
      <if test="TS_EMAIL_URL != null" >
        TS_EMAIL_URL,
      </if>
      <if test="TS_EMAIL_PASSWORD != null" >
        TS_EMAIL_PASSWORD,
      </if>
      <if test="TS_EMAIL_SMTP != null" >
        TS_EMAIL_SMTP,
      </if>
      <if test="TS_EMAIL_POP3 != null" >
        TS_EMAIL_POP3,
      </if>
      <if test="BY1 != null" >
        BY1,
      </if>
      <if test="BY2 != null" >
        BY2,
      </if>
      <if test="BY3 != null" >
        BY3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="UUID != null" >
        #{UUID,jdbcType=VARCHAR},
      </if>
      <if test="CREATETIME != null" >
        #{CREATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATETIME != null" >
        #{UPDATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="SKR != null" >
        #{SKR,jdbcType=VARCHAR},
      </if>
      <if test="FHR != null" >
        #{FHR,jdbcType=VARCHAR},
      </if>
      <if test="CXJE != null" >
        #{CXJE,jdbcType=DECIMAL},
      </if>
      <if test="CFYJ != null" >
        #{CFYJ,jdbcType=VARCHAR},
      </if>
      <if test="TS_EMAIL != null" >
        #{TS_EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="TS_EMAIL_URL != null" >
        #{TS_EMAIL_URL,jdbcType=VARCHAR},
      </if>
      <if test="TS_EMAIL_PASSWORD != null" >
        #{TS_EMAIL_PASSWORD,jdbcType=VARCHAR},
      </if>
      <if test="TS_EMAIL_SMTP != null" >
        #{TS_EMAIL_SMTP,jdbcType=VARCHAR},
      </if>
      <if test="TS_EMAIL_POP3 != null" >
        #{TS_EMAIL_POP3,jdbcType=VARCHAR},
      </if>
      <if test="BY1 != null" >
        #{BY1,jdbcType=VARCHAR},
      </if>
      <if test="BY2 != null" >
        #{BY2,jdbcType=VARCHAR},
      </if>
      <if test="BY3 != null" >
        #{BY3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aisino.entity.initial.TPeizhi" >
    update t_peizhi
    <set >
      <if test="CREATETIME != null" >
        CREATETIME = #{CREATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATETIME != null" >
        UPDATETIME = #{UPDATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="SKR != null" >
        SKR = #{SKR,jdbcType=VARCHAR},
      </if>
      <if test="FHR != null" >
        FHR = #{FHR,jdbcType=VARCHAR},
      </if>
      <if test="CXJE != null" >
        CXJE = #{CXJE,jdbcType=DECIMAL},
      </if>
      <if test="CFYJ != null" >
        CFYJ = #{CFYJ,jdbcType=VARCHAR},
      </if>
      <if test="TS_EMAIL != null" >
        TS_EMAIL = #{TS_EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="TS_EMAIL_URL != null" >
        TS_EMAIL_URL = #{TS_EMAIL_URL,jdbcType=VARCHAR},
      </if>
      <if test="TS_EMAIL_PASSWORD != null" >
        TS_EMAIL_PASSWORD = #{TS_EMAIL_PASSWORD,jdbcType=VARCHAR},
      </if>
      <if test="TS_EMAIL_SMTP != null" >
        TS_EMAIL_SMTP = #{TS_EMAIL_SMTP,jdbcType=VARCHAR},
      </if>
      <if test="TS_EMAIL_POP3 != null" >
        TS_EMAIL_POP3 = #{TS_EMAIL_POP3,jdbcType=VARCHAR},
      </if>
      <if test="BY1 != null" >
        BY1 = #{BY1,jdbcType=VARCHAR},
      </if>
      <if test="BY2 != null" >
        BY2 = #{BY2,jdbcType=VARCHAR},
      </if>
      <if test="BY3 != null" >
        BY3 = #{BY3,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{UUID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aisino.entity.initial.TPeizhi" >
    update t_peizhi
    set CREATETIME = #{CREATETIME,jdbcType=TIMESTAMP},
      UPDATETIME = #{UPDATETIME,jdbcType=TIMESTAMP},
      SKR = #{SKR,jdbcType=VARCHAR},
      FHR = #{FHR,jdbcType=VARCHAR},
      CXJE = #{CXJE,jdbcType=DECIMAL},
      CFYJ = #{CFYJ,jdbcType=VARCHAR},
      TS_EMAIL = #{TS_EMAIL,jdbcType=VARCHAR},
      TS_EMAIL_URL = #{TS_EMAIL_URL,jdbcType=VARCHAR},
      TS_EMAIL_PASSWORD = #{TS_EMAIL_PASSWORD,jdbcType=VARCHAR},
      TS_EMAIL_SMTP = #{TS_EMAIL_SMTP,jdbcType=VARCHAR},
      TS_EMAIL_POP3 = #{TS_EMAIL_POP3,jdbcType=VARCHAR},
      BY1 = #{BY1,jdbcType=VARCHAR},
      BY2 = #{BY2,jdbcType=VARCHAR},
      BY3 = #{BY3,jdbcType=VARCHAR}
    where UUID = #{UUID,jdbcType=VARCHAR}
  </update>
</mapper>