<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.initial.TZLSZpglbMapper">
    <update id="changeDataStatus">
        update t_zls_zpglb
        <set >
                DATA_STATUS = #{stauts,jdbcType=VARCHAR}
        </set>
        where I_FEEID = #{i_feeid,jdbcType=VARCHAR}
    </update>
    <select id="selectAllItem" resultType="java.lang.String">
        select
        t1.I_FEEID
        from t_zls_zpglb t1 where t1.DATA_STATUS!='3'
    </select>
    <select id="selectHongChongByFilter" resultType="java.util.HashMap">
    SELECT
	    s2.I_FEEID,
	    s2.S_CID,
	    date_format( s2.DL_InsertDate,'%Y-%m-%d %H:%i:%s') DL_InsertDate,
	    date_format(s2.DL_XiaoZhangRQ,'%Y-%m-%d %H:%i:%s') DL_XiaoZhangRQ,
	    date_format(s2.D_InsertDate,'%Y-%m-%d %H:%i:%s') D_InsertDate,
	    glb.GFMC,
	    glb.DATA_STATUS,
	    glb.BY1
    FROM
	    sysc_hongchong s2
    LEFT JOIN t_zls_zpglb glb ON convert(s2.I_FEEID,char) = glb.I_FEEID
    where 1=1
        <if test="GFMC != null and GFMC != ''">
            and GFMC like #{GFMC,jdbcType=VARCHAR}"%"
        </if>
        <if test="I_FEEID != null and I_FEEID != ''">
            and s2.I_FEEID like #{I_FEEID,jdbcType=VARCHAR}"%"
        </if>
        <if test="S_CID != null and S_CID != ''">
            and S_CID like #{S_CID,jdbcType=VARCHAR}"%"
        </if>
        <if test="DATA_STATUS != null and DATA_STATUS != '' and DATA_STATUS != '0'.toString() ">
            and DATA_STATUS=#{DATA_STATUS,jdbcType=VARCHAR}
        </if>
        <if test="DATA_STATUS == '0'.toString() ">
            and( DATA_STATUS='0'  or  DATA_STATUS is null)
        </if>
        <if test="DL_InsertDate != null and DL_InsertDate != ''" >
            <![CDATA[ and DATE_FORMAT(DL_InsertDate,'%Y-%m-%d')  >=  DATE_FORMAT(#{DL_InsertDateSTART},'%Y-%m-%d')  ]]>
            <![CDATA[ and DATE_FORMAT(DL_InsertDate,'%Y-%m-%d')  <=  DATE_FORMAT(#{DL_InsertDateEND},'%Y-%m-%d')  ]]>
        </if>
    ORDER BY DL_InsertDate desc

    </select>
    <select id="countSFKJ" resultType="java.util.Map">
        SELECT
        IFNULL(SUM(CASE WHEN kp.N_PaiShuiF is NULL THEN 0 ELSE kp.N_PaiShuiF END),0) SLV0,
        IFNULL(SUM((kp.N_KaiZhangJE-kp.N_PaiShuiF)+kp.N_ShiShouZNJ),0) SLV3
        FROM
        sysc_kaipiao kp
        LEFT JOIN t_zls_zpglb glb ON kp.I_FEEID = glb.I_FEEID
        LEFT JOIN t_sysorderhead head ON glb.BY1 = head.DJHM
        WHERE
        head.BY1=#{XFXXID,jdbcType=VARCHAR}
        AND
        glb.DATA_STATUS = '2' /*已开具*/
        <![CDATA[AND head.KPRQ<=#{monthLastTime}]]>
        AND head.KPRQ>=#{monthStartTime}/*时间限制*/
        <if test="YHH != null and YHH != ''">
            and kp.S_CID = #{YHH,jdbcType=VARCHAR}
        </if>
        <if test="FPZL != null and FPZL != ''">
            and head.FPZL = #{FPZL,jdbcType=VARCHAR}
        </if>
        <if test="GFMC != null and GFMC != ''">
            and kp.S_HM = #{GFMC,jdbcType=VARCHAR}
        </if>
        <if test="DL_KaiZhangSTART != null and DL_KaiZhangSTART != ''">
            <![CDATA[ and DATE_FORMAT(kp.DL_KaiZhang,'%Y-%m-%d')  >=  DATE_FORMAT(#{DL_KaiZhangSTART},'%Y-%m-%d')  ]]>
        </if>
        <if test="DL_KaiZhangEND != null and DL_KaiZhangEND != ''">
            <![CDATA[ and DATE_FORMAT(kp.DL_KaiZhang,'%Y-%m-%d')  <=  DATE_FORMAT(#{DL_KaiZhangEND},'%Y-%m-%d')  ]]>
        </if>
    </select>
    <select id="countWKJFPJE" resultType="java.util.Map">
        SELECT
	        IFNULL(SUM(CASE WHEN kp.N_PaiShuiF is NULL THEN 0 ELSE kp.N_PaiShuiF END),0) SLV0,
            IFNULL(SUM((kp.N_KaiZhangJE-kp.N_PaiShuiF)+kp.N_ShiShouZNJ),0) SLV3
        FROM
	        sysc_kaipiao kp
        LEFT JOIN t_zls_zpglb glb ON kp.I_FEEID = glb.I_FEEID
        LEFT JOIN t_sysorderhead head ON glb.BY1 = head.DJHM
        WHERE
        head.BY1=#{XFXXID,jdbcType=VARCHAR}
        AND
	        glb.DATA_STATUS IN ('0','1')
        <if test="YHH != null and YHH != ''">
            and kp.S_CID = #{YHH,jdbcType=VARCHAR}
        </if>
        <if test="FPZL != null and FPZL != ''">
            and head.FPZL = #{FPZL,jdbcType=VARCHAR}
        </if>
        <if test="GFMC != null and GFMC != ''">
            and kp.S_HM = #{GFMC,jdbcType=VARCHAR}
        </if>
        <if test="DL_KaiZhangSTART != null and DL_KaiZhangSTART != ''">
            <![CDATA[ and DATE_FORMAT(kp.DL_KaiZhang,'%Y-%m-%d')  >=  DATE_FORMAT(#{DL_KaiZhangSTART},'%Y-%m-%d')  ]]>
        </if>
        <if test="DL_KaiZhangEND != null and DL_KaiZhangEND != ''">
            <![CDATA[ and DATE_FORMAT(kp.DL_KaiZhang,'%Y-%m-%d')  <=  DATE_FORMAT(#{DL_KaiZhangEND},'%Y-%m-%d')  ]]>
        </if>
    </select>
    <select id="countBKYQYFSFFPJE" resultType="java.util.Map">
        SELECT
        IFNULL(SUM(CASE WHEN kp.N_PaiShuiF is NULL THEN 0 ELSE kp.N_PaiShuiF END),0) SLV0,
        IFNULL(SUM((kp.N_KaiZhangJE-kp.N_PaiShuiF)+kp.N_ShiShouZNJ),0) SLV3 FROM 	sysc_kaipiao kp
        LEFT JOIN t_zls_zpglb glb ON kp.I_FEEID = glb.I_FEEID
        LEFT JOIN t_sysorderhead head ON glb.BY1 = head.DJHM
        WHERE
        head.BY1=#{XFXXID,jdbcType=VARCHAR}
        AND
        glb.DATA_STATUS = '2' /*已开具*/
        <![CDATA[AND CONCAT_WS('-',kp.I_Y,CASE WHEN kp.I_M<10 THEN CONCAT('0',kp.I_M) ELSE kp.I_M END )< DATE_FORMAT(head.KPRQ, '%Y-%m')]]>/*开账年月小于开票时间*/
        <if test="YHH != null and YHH != ''">
            and kp.S_CID = #{YHH,jdbcType=VARCHAR}
        </if>
        <if test="FPZL != null and FPZL != ''">
            and head.FPZL = #{FPZL,jdbcType=VARCHAR}
        </if>
        <if test="GFMC != null and GFMC != ''">
            and kp.S_HM = #{GFMC,jdbcType=VARCHAR}
        </if>
        <if test="DL_KaiZhangSTART != null and DL_KaiZhangSTART != ''">
            <![CDATA[ and DATE_FORMAT(kp.DL_KaiZhang,'%Y-%m-%d')  >=  DATE_FORMAT(#{DL_KaiZhangSTART},'%Y-%m-%d')  ]]>
        </if>
        <if test="DL_KaiZhangEND != null and DL_KaiZhangEND != ''">
            <![CDATA[ and DATE_FORMAT(kp.DL_KaiZhang,'%Y-%m-%d')  <=  DATE_FORMAT(#{DL_KaiZhangEND},'%Y-%m-%d')  ]]>
        </if>
    </select>
    <select id="countSF" resultType="java.util.Map">
        SELECT
        IFNULL(SUM(CASE WHEN kp.N_PaiShuiF is NULL THEN 0 ELSE kp.N_PaiShuiF END),0) SLV0,
        IFNULL(SUM((kp.N_KaiZhangJE-kp.N_PaiShuiF)+kp.N_ShiShouZNJ),0) SLV3,
        '当月开具' TYPE
        FROM
        sysc_kaipiao kp
        LEFT JOIN t_zls_zpglb glb ON kp.I_FEEID = glb.I_FEEID
        LEFT JOIN t_sysorderhead head ON glb.BY1 = head.DJHM
        WHERE
        head.KPRQ between #{monthStartTime} and #{monthLastTime}/*时间限制*/
        AND
        head.BY1=#{XFXXID,jdbcType=VARCHAR}
        AND
        glb.DATA_STATUS = '2' /*已开具*/
        <![CDATA[AND CONCAT_WS('-',kp.I_Y,CASE WHEN kp.I_M<10 THEN CONCAT('0',kp.I_M) ELSE kp.I_M END )= DATE_FORMAT(head.KPRQ, '%Y-%m')]]>/*开账年月小于开票时间*/
        <if test="YHH != null and YHH != ''">
            and kp.S_CID = #{YHH,jdbcType=VARCHAR}
        </if>
        <if test="FPZL != null and FPZL != ''">
            and head.FPZL = #{FPZL,jdbcType=VARCHAR}
        </if>
        <if test="GFMC != null and GFMC != ''">
            and kp.S_HM = #{GFMC,jdbcType=VARCHAR}
        </if>
        <if test="DL_ShouFeiSTART != null and DL_ShouFeiSTART != ''and DL_ShouFeiEND != null and DL_ShouFeiEND != ''">
            and  kp.DL_ShouFei between #{DL_ShouFeiSTART} and #{DL_ShouFeiEND}
        </if>
        UNION ALL
        SELECT
        IFNULL(SUM(CASE WHEN kp.N_PaiShuiF is NULL THEN 0 ELSE kp.N_PaiShuiF END),0) SLV0,
        IFNULL(SUM((kp.N_KaiZhangJE-kp.N_PaiShuiF)+kp.N_ShiShouZNJ),0) SLV3,
        '未开' TYPE
        FROM
        sysc_kaipiao kp
        LEFT JOIN t_zls_zpglb glb ON kp.I_FEEID = glb.I_FEEID
        LEFT JOIN t_sysorderhead head ON glb.BY1 = head.DJHM
        WHERE
        head.BY1=#{XFXXID,jdbcType=VARCHAR}
        AND
        glb.DATA_STATUS IN ('0','1')
        <if test="YHH != null and YHH != ''">
            and kp.S_CID = #{YHH,jdbcType=VARCHAR}
        </if>
        <if test="FPZL != null and FPZL != ''">
            and head.FPZL = #{FPZL,jdbcType=VARCHAR}
        </if>
        <if test="GFMC != null and GFMC != ''">
            and kp.S_HM = #{GFMC,jdbcType=VARCHAR}
        </if>
        <if test="DL_ShouFeiSTART != null and DL_ShouFeiSTART != ''and DL_ShouFeiEND != null and DL_ShouFeiEND != ''">
            and kp.DL_ShouFei between #{DL_ShouFeiSTART} and #{DL_ShouFeiEND}
        </if>
        UNION ALL
        SELECT
        IFNULL(SUM(CASE WHEN kp.N_PaiShuiF is NULL THEN 0 ELSE kp.N_PaiShuiF END),0) SLV0,
        IFNULL(SUM((kp.N_KaiZhangJE-kp.N_PaiShuiF)+kp.N_ShiShouZNJ),0) SLV3,
        '补开' TYPE
        FROM 	sysc_kaipiao kp
        LEFT JOIN t_zls_zpglb glb ON kp.I_FEEID = glb.I_FEEID
        LEFT JOIN t_sysorderhead head ON glb.BY1 = head.DJHM
        WHERE
        head.KPRQ between #{monthStartTime} and #{monthLastTime}/*时间限制*/
        AND
        head.BY1=#{XFXXID,jdbcType=VARCHAR}
        AND
        glb.DATA_STATUS = '2' /*已开具*/
        <![CDATA[AND CONCAT_WS('-',kp.I_Y,CASE WHEN kp.I_M<10 THEN CONCAT('0',kp.I_M) ELSE kp.I_M END )< DATE_FORMAT(head.KPRQ, '%Y-%m')]]>/*开账年月小于开票时间*/
        <if test="YHH != null and YHH != ''">
            and kp.S_CID = #{YHH,jdbcType=VARCHAR}
        </if>
        <if test="FPZL != null and FPZL != ''">
            and head.FPZL = #{FPZL,jdbcType=VARCHAR}
        </if>
        <if test="GFMC != null and GFMC != ''">
            and kp.S_HM = #{GFMC,jdbcType=VARCHAR}
        </if>
        <if test="DL_ShouFeiSTART != null and DL_ShouFeiSTART != ''and DL_ShouFeiEND != null and DL_ShouFeiEND != ''">
            and kp.DL_ShouFei between #{DL_ShouFeiSTART} and #{DL_ShouFeiEND}
        </if>
    </select>


</mapper>