<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aisino.mapper.cfhb.XfxxMapper">
    <resultMap id="BaseResultMap" type="com.test.entity.initial.TXfxx">
        <id column="UUID" property="UUID" jdbcType="VARCHAR"/>
        <result column="CREATETIME" property="CREATETIME" jdbcType="TIMESTAMP"/>
        <result column="UPDATETIME" property="UPDATETIME" jdbcType="TIMESTAMP"/>
        <result column="XFMC" property="XFMC" jdbcType="VARCHAR"/>
        <result column="XFSH" property="XFSH" jdbcType="VARCHAR"/>
        <result column="XFYHZH" property="XFYHZH" jdbcType="VARCHAR"/>
        <result column="XFDZDH" property="XFDZDH" jdbcType="VARCHAR"/>
        <result column="terminalCode" property="terminalCode" jdbcType="VARCHAR"/>
        <result column="appId" property="appId" jdbcType="VARCHAR"/>
        <result column="authorizationCode" property="authorizationCode" jdbcType="VARCHAR"/>
        <result column="requestCode" property="requestCode" jdbcType="VARCHAR"/>
        <result column="sigCode" property="sigCode" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="fjh" property="fjh" jdbcType="VARCHAR"/>
        <result column="jqbh" property="jqbh" jdbcType="VARCHAR"/>
        <result column="serverUrl" property="serverUrl" jdbcType="VARCHAR"/>
        <result column="BY1" property="BY1" jdbcType="VARCHAR"/>
        <result column="BY2" property="BY2" jdbcType="VARCHAR"/>
        <result column="BY3" property="BY3" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    UUID, CREATETIME, UPDATETIME, XFMC, XFSH, XFYHZH, XFDZDH, terminalCode, appId, authorizationCode, 
    requestCode, sigCode, password, token, fjh, jqbh, serverUrl, BY1, BY2, BY3
  </sql>
    <select id="selectXiaoFangByXiaoFang" resultType="com.test.entity.initial.TXfxx" parameterType="java.lang.String">
        select * from t_xfxx where xfsh=#{XFSH}
    </select>
    <insert id="addXfxx">
        insert into t_xfxx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="UUID != null and UUID != ''">
                UUID,
            </if>
            <if test="CREATETIME != null and CREATETIME != ''">
                CREATETIME,
            </if>
            <if test="UPDATETIME != null and UPDATETIME != ''">
                UPDATETIME,
            </if>
            <if test="XFMC != null and XFMC != ''">
                XFMC,
            </if>
            <if test="XFSH != null and XFSH != ''">
                XFSH,
            </if>
            <if test="XFYHZH != null">
                XFYHZH,
            </if>
            <if test="XFDZDH != null">
                XFDZDH,
            </if>
            <if test="terminalCode != null">
                terminalCode,
            </if>
            <if test="appId != null">
                appId,
            </if>
            <if test="authorizationCode != null">
                authorizationCode,
            </if>
            <if test="requestCode != null">
                requestCode,
            </if>
            <if test="sigCode != null">
                sigCode,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="token != null">
                token,
            </if>
            <if test="fjh != null and fjh != ''">
                fjh,
            </if>
            <if test="jqbh != null">
                jqbh,
            </if>
            <if test="serverUrl != null">
                serverUrl,
            </if>
            <if test="KPR != null">
                KPR,
            </if>
            <if test="SKR != null">
                SKR,
            </if>
            <if test="FHR != null">
                FHR,
            </if>
            <if test="identity != null">
                identity,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="valid != null">
                valid,
            </if>
            <if test="BY1 != null and BY1 != ''">
                BY1,
            </if>
            <if test="BY2 != null">
                BY2,
            </if>
            <if test="BY3 != null and BY3 != ''">
                BY3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="UUID != null and UUID !=''">
                #{UUID,jdbcType=VARCHAR},
            </if>
            <if test="CREATETIME != null and CREATETIME !=''">
                #{CREATETIME,jdbcType=TIMESTAMP},
            </if>
            <if test="UPDATETIME != null and UPDATETIME != ''">
                #{UPDATETIME,jdbcType=TIMESTAMP},
            </if>
            <if test="XFMC != null and XFMC != ''">
                #{XFMC,jdbcType=VARCHAR},
            </if>
            <if test="XFSH != null and XFSH != ''">
                #{XFSH,jdbcType=VARCHAR},
            </if>
            <if test="XFYHZH != null">
                #{XFYHZH,jdbcType=VARCHAR},
            </if>
            <if test="XFDZDH != null">
                #{XFDZDH,jdbcType=VARCHAR},
            </if>
            <if test="terminalCode != null">
                #{terminalCode,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="authorizationCode != null">
                #{authorizationCode,jdbcType=VARCHAR},
            </if>
            <if test="requestCode != null">
                #{requestCode,jdbcType=VARCHAR},
            </if>
            <if test="sigCode != null">
                #{sigCode,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="fjh != null and fjh != ''">
                #{fjh,jdbcType=VARCHAR},
            </if>
            <if test="jqbh != null">
                #{jqbh,jdbcType=VARCHAR},
            </if>
            <if test="serverUrl != null">
                #{serverUrl,jdbcType=VARCHAR},
            </if>
            <if test="KPR != null">
                #{KPR,jdbcType=VARCHAR},
            </if>
            <if test="SKR != null">
                #{SKR,jdbcType=VARCHAR},
            </if>
            <if test="FHR != null">
                #{FHR,jdbcType=VARCHAR},
            </if>
            <if test="identity != null">
                #{identity,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="valid != null">
                #{valid,jdbcType=VARCHAR},
            </if>
            <if test="BY1 != null and BY1 != ''">
                #{BY1,jdbcType=VARCHAR},
            </if>
            <if test="BY2 != null">
                #{BY2,jdbcType=VARCHAR},
            </if>
            <if test="BY3 != null and BY3 != ''">
                #{BY3,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateXfxx">
        update t_xfxx
        <set>
            <if test="MODIFYUUID != null and MODIFYUUID != ''">
                UUID=#{MODIFYUUID,jdbcType=VARCHAR},
            </if>
            <if test="UPDATETIME != null and UPDATETIME != ''">
                UPDATETIME = #{UPDATETIME,jdbcType=TIMESTAMP},
            </if>
            <if test="XFMC != null and XFMC != ''">
                XFMC = #{XFMC,jdbcType=VARCHAR},
            </if>
            <if test="XFSH != null and XFSH != ''">
                XFSH = #{XFSH,jdbcType=VARCHAR},
            </if>
            <if test="XFYHZH != null and XFYHZH != ''">
                XFYHZH = #{XFYHZH,jdbcType=VARCHAR},
            </if>
            <if test="XFDZDH != null and XFDZDH != ''">
                XFDZDH = #{XFDZDH,jdbcType=VARCHAR},
            </if>
            <if test="terminalCode != null and terminalCode != ''">
                terminalCode = #{terminalCode,jdbcType=VARCHAR},
            </if>
            <if test="appId != null and appId != ''">
                appId = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="identity != null and identity != ''">
                identity = #{identity,jdbcType=VARCHAR},
            </if>
            <if test="authorizationCode != null and authorizationCode != ''">
                authorizationCode = #{authorizationCode,jdbcType=VARCHAR},
            </if>
            <if test="requestCode != null and requestCode != ''">
                requestCode = #{requestCode,jdbcType=VARCHAR},
            </if>
            <if test="sigCode != null and sigCode != ''">
                sigCode = #{sigCode,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="token != null and token != ''">
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="fjh != null and fjh != ''">
                fjh = #{fjh,jdbcType=VARCHAR},
            </if>
            <if test="jqbh != null and jqbh != ''">
                jqbh = #{jqbh,jdbcType=VARCHAR},
            </if>
            <if test="serverUrl != null and serverUrl != ''">
                serverUrl = #{serverUrl,jdbcType=VARCHAR},
            </if>
            <if test="BY1 != null and BY1 !=''">
                BY1 = #{BY1,jdbcType=VARCHAR},
            </if>
            <if test="BY2 != null and BY2 !=''" >
                BY2 = #{BY2,jdbcType=VARCHAR},
            </if>
            <if test="BY3 != null and BY3 != ''">
                BY3 = #{BY3,jdbcType=VARCHAR},
            </if>
        </set>
        where UUID = #{UUID,jdbcType=VARCHAR}
    </update>
    <delete id="deleteXfxx" parameterType="java.lang.String">
        delete from t_xfxx
        where UUID = #{UUID,jdbcType=VARCHAR}
    </delete>
    <select id="selectXfxxByFilter" resultType="HashMap">
        select
            a.UUID as XFID,b.UUID as PZID,a.XFMC,a.XFSH,a.XFYHZH,a.XFDZDH,a.password,a.jqbh,a.identity,a.phone,a.valid,a.serverUrl,
            date_format(a.CREATETIME,'%Y-%m-%d %H:%i:%s') CREATETIME,
            date_format(a.UPDATETIME,'%Y-%m-%d %H:%i:%s') UPDATETIME,
            CASE a.terminalCode
            WHEN '0' THEN 'B/S'
            ELSE 'C/S' END terminalCode,
            a.appId,a.authorizationCode,a.requestCode,a.sigCode,a.token,a.fjh,a.BY2 as dpfjh,
            CASE a.BY3
            WHEN '0' THEN '组件开票'
            ELSE '诺诺开票' END KPFS,
            a.BY3,
            b.SKR,b.FHR,b.TS_EMAIL,b.TS_EMAIL_URL,b.BY1 as KPR,b.BY3 as CXXE,b.TS_EMAIL_PASSWORD,b.TS_EMAIL_SMTP,b.TS_EMAIL_POP3,
            CASE b.CFYJ
            WHEN '0' THEN '拆分数量'
            ELSE '拆分单价' END CFYJ,
            CASE b.BY2
            WHEN '1' THEN '回滚'
            ELSE '不回滚' END SFHG
        from
            t_xfxx a,
            t_peizhi b
        where
            a.BY1 = b.UUID
        <if test="CREATETIME != null and CREATETIME != ''">
            <![CDATA[ and DATE_FORMAT(a.CREATETIME,'%Y-%m-%d')  >=  DATE_FORMAT(#{CREATETIMESTART},'%Y-%m-%d')  ]]>
            <![CDATA[ and DATE_FORMAT(a.CREATETIME,'%Y-%m-%d')  <=  DATE_FORMAT(#{CREATETIMEEND},'%Y-%m-%d')  ]]>
        </if>
        <if test="XFMC != null and XFMC != ''">
            and a.XFMC like #{XFMC,jdbcType=VARCHAR}"%"
        </if>
        <if test="XFSH != null and XFSH != ''">
            and a.XFSH = #{XFSH,jdbcType=VARCHAR}
        </if>
        <if test="XFYHZH != null and XFYHZH !=''">
            and a.XFYHZH = #{XFYHZH,jdbcType=VARCHAR}
        </if>
        <if test="XFDZDH != null and XFDZDH !=''">
            and a.XFDZDH like #{XFDZDH,jdbcType=VARCHAR}"%"
        </if>
        <if test="terminalCode != null and terminalCode !=''">
            and terminalCode = #{terminalCode,jdbcType=VARCHAR}
        </if>
        <if test="appId != null and appId != ''">
            and appId = #{appId,jdbcType=VARCHAR}
        </if>
        <if test="authorizationCode != null and authorizationCode!= ''">
            and authorizationCode = #{authorizationCode,jdbcType=VARCHAR}
        </if>
        <if test="requestCode != null and requestCode != ''">
            and requestCode = #{requestCode,jdbcType=VARCHAR}
        </if>
        <if test="sigCode != null and sigCode != ''">
            and sigCode = #{sigCode,jdbcType=VARCHAR}
        </if>
        <if test="token != null and token != ''">
            and token = #{token,jdbcType=VARCHAR}
        </if>
        <if test="fjh != null and fjh != ''">
            and fjh = #{fjh,jdbcType=VARCHAR}
        </if>
        <if test="jqbh != null and jqbh != ''">
            and jqbh = #{jqbh,jdbcType=VARCHAR}
        </if>
        <if test="KPR != null and KPR != ''">
            and b.BY1 = #{KPR,jdbcType=VARCHAR}
        </if>
        <if test="SKR != null and SKR != ''">
            and b.SKR = #{SKR,jdbcType=VARCHAR}
        </if>
        <if test="FHR != null and FHR != ''">
            and b.FHR = #{FHR,jdbcType=VARCHAR}
        </if>
        <if test="KPFS != null and KPFS != ''">
            and a.BY3 = #{KPFS,jdbcType=VARCHAR}
        </if>
        <if test="CFYJ != null and CFYJ != ''">
            and b.CFYJ = #{CFYJ,jdbcType=VARCHAR}
        </if>
        <if test="TS_EMAIL != null and TS_EMAIL != ''">
            and b.TS_EMAIL = #{TS_EMAIL,jdbcType=VARCHAR}
        </if>
        <if test="TS_EMAIL_URL != null and TS_EMAIL_URL != ''">
            and b.TS_EMAIL_URL = #{TS_EMAIL_URL,jdbcType=VARCHAR}
        </if>
        order by a.CREATETIME,a.UPDATETIME
    </select>
    <select id="selectXfCountByUUID" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM t_xfxx xfxx WHERE xfxx.UUID=#{XFID,jdbcType=VARCHAR}
    </select>
    <select id="selectfjByXFID" parameterType="map" resultType="map">
		 select  *  from t_zls_xfxx_fjh fjh where   fjh.xiaofangid =#{XFID,jdbcType=VARCHAR}
    </select>
    <select id="selectXFJSByXFID" resultType="java.util.Map">
        select  *  from t_zls_xfxx a where   a.xiaofangid =#{XFID,jdbcType=VARCHAR}
    </select>
</mapper>