<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.seller.SellerMapper">
	 <select id="selectSellerList" parameterType="map" resultType="map">
		 select  *  from  t_xfxx
		 where 1=1
		 <if test="XFMC!='' and XFMC!=null">
			 and
			 XFMC LIKE CONCAT('%',#{XFMC,jdbcType=VARCHAR},'%')
		 </if>
		 <if test="XFSH!='' and XFSH!=null">
			 and
			 XFSH =#{XFSH,jdbcType=VARCHAR}

		 </if>
		 <if test="XFYHZH!='' and XFYHZH!=null">
			 and
			 XFYHZH =#{SFYHZH,jdbcType=VARCHAR}
		 </if>
	 </select>
	<select id="selectSellerByUUID" parameterType="map" resultType="map">
		 select  *  from  t_xfxx where  UUID =#{UUID,jdbcType=VARCHAR}
	</select>
	<select id="selectZJBList" parameterType="map" resultType="map">
		 select  *  from  t_xfxx_zjb z,t_qx_user u where   u.ID=z.userId  and z.XFXXID =#{XFXXID,jdbcType=VARCHAR}
	</select>
	<select id="selectUersByUUID" parameterType="map" resultType="map">
		 SELECT a.ID AS USERID,a.NAME FROM t_qx_user a WHERE  NOT EXISTS  (SELECT * FROM t_xfxx_zjb b WHERE a.ID=b.USERID AND b.XFXXID=#{XFXXID,jdbcType=VARCHAR} )
	</select>


</mapper>
