<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.system.LoginMapper">

    <!-- 用户验证 -->
    <select id="checkUsername" resultType="boolean">
        select count(1)
        from t_qx_user
        where USERNAME = #{username,jdbcType=VARCHAR}
    </select>
    <!-- 密码验证 -->
    <select id="checkUsernameAndPSW" resultType="map">
        select name,id,username
        from t_qx_user
        where USERNAME = #{username,jdbcType=VARCHAR}
          and
            PASSWORD = #{password,jdbcType=VARCHAR}
    </select>

    <!-- 根据账号和密码获取相应的上级 -->
    <select id="selectByNameAndPSW" resultType="com.test.entity.system.Menu">
        SELECT M.*
        FROM
            t_qx_menu M
        WHERE
            EXISTS(
                    SELECT
                        1
                    FROM
                        (
                            SELECT
                                *
                            FROM
                                t_role_menu a
                            WHERE
                                    a.ROLEID IN (
                                    SELECT
                                        c.role_id
                                    FROM
                                        t_user_role c
                                    WHERE
                                        c.user_id = #{user_id,jdbcType=VARCHAR}
                                )
                        ) F
                    WHERE
                        F.EMNUID = M.ID
                )
          AND mark = 1
        ORDER BY
            sort
    </select>

</mapper>
