<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.system.RoleMapper">

	<insert id="insertRole" parameterType="com.test.entity.system.Role">
		insert into t_qx_role (id, name, sort, menu_id)
    	values (#{id,jdbcType=VARCHAR},
    		#{name,jdbcType=VARCHAR}, 
      		#{sort,jdbcType=INTEGER}, 
      		#{menu_id,jdbcType=VARCHAR}
      		)
	</insert>

</mapper>
